a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h2,
h3,
h3,
h4,
h4,
h5,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
   display: block;
}

ul,
ol {
   list-style: none;
}

blockquote,
q {
   quotes: none;
}

button {
   outline: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
   content: "";
   content: none;
}

a {
   text-decoration: none;
   color: #000;
}

img {
   max-width: 100%;
}

html {
   box-sizing: border-box;
   height: 100%;
}

*,
*::after,
*::before {
   box-sizing: inherit;
}

a,
input,
textarea {
   outline: none;
}

html,
body {
   position: relative;
   overflow-x: hidden;
}

a {
   display: inline-block;
   text-decoration: none;
}
ul,
li {
   margin: 0;
   padding: 0;
   list-style: none;
}
body {
   height: 100%;
   font-family: 'Lato';
   font-weight: 400;
   font-size: $size-general;
   // line-height: ;
   color: $color-text;
   // background-color: ;
}
.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100%;
}
.content {
   flex: 1 0 auto;
}
.footer {
   flex: 0 0 auto;
}
.container {
   @include width($container);
   margin: 0 auto;
   padding: 0 30px;
   @media(max-width: $mediaS) {
      padding: 0 15px;
   }
}
.container-small {
   @include width($container-small);
   margin: 0 auto;
   padding: 0 30px;
   @media(max-width: $mediaS) {
      padding: 0 15px;
   }
}
.default-checkbox{
   input{
      visibility: hidden;
      appearance: none;
      margin: 0;
      position: absolute;
   }
   label{
      color: $black;
      position: relative;
      &::before{
         position: relative;
         content: '';
         bottom: -4px;
         display: inline-block;
         width: 17px;
         height: 17px;
         margin-right: 6px;
         border-radius: 3px;
         border: 1px solid $color-border-input;
      }
      &::after{
         position: absolute;
         content: '';
         display: none;
         top: 4px;
         left: 5px;
         width: 6px;
         height: 12px;
         border-right: 2px solid $white;
         border-bottom: 2px solid $white;
         transform: rotate(45deg);
      }
      &:hover{
         cursor: pointer;
      }
   }
   input:checked{
      &+label::before{
         background-color: $color-accent;
         border-color: $color-accent;
      }
      &+label::after{
         display: block;
      }
   }
}
.js-number-buffer{
   position: absolute;
   top: -1000px;
   left: -1000px;
   visibility: hidden;
}
// .section-title{
//   @include font(64px, 300, #000, 90px);
//   text-align: center;
//   text-transform: capitalize;
// }
// .section-description{
//   @include font(24px, 200, #000, 43px);
//   text-align: center;
// }
// .dft-link{
//   position: relative;
//   @include font(12px, 700, #000);
//   padding-right: 34px;
//   text-transform: uppercase;
//   &::after{
//     position: absolute;
//     content: '';
//     display: block;
//     top: -2px;
//     right: 0;
//     width: 24px;
//     height: 16px;
//     background-position: center;
//     background-size: contain;
//     background-repeat: no-repeat;
//   }
// }
// .bg-link{
//   @include font(16px, 700, #fff, 20px);
//   padding: 22px 90px;
//   text-transform: uppercase;
//   border: none;
//   &:hover{cursor: pointer;}
//   &--blue{background-color: $blue;}
// }
