@include fface('Lato', 'Lato/Lato-Bold', 700, normal);
@include fface('Lato', 'Lato/Lato-Semibold', 600, normal);
@include fface('Lato', 'Lato/Lato-Medium', 500, normal);
@include fface('Lato', 'Lato/Lato-Regular', 400, normal);
@include fface('Lato', 'Lato/Lato-Light', 300, normal);