//COLORS ===========================================

// $colorMain:;
// $colorText:;
// $coloraccent:;
// $colorButtons:;
// $colorBorder:;
$black: #000;
$white: #fff;
$color-text: #161515;
$color-text-secondary: #959595;
$color-menu-inactive: #e6e6e6;
$color-border: #e8ebf9;
$color-border-input: #b8c1cc;
$color-accent: #5165e2;
$color-accent-light: #e3eefe;

//COLORS ============================================

//FONTS ============================================
$maxWidthLayout: 1400;
$size-logotype: 24px;
$size-general: 16px;
$size-start-button: 36px;
$size-tab-subtitle: 12px;
$size-tab-alert: 14px;
$size-mobile-menu: 28px;
//FONTS ============================================

//LARGES ============================================

$container: 1200px;
$container-small: 740px;
$width-input-range: 740px;
$mediaS: 375px;
$mediaM: 480px;
// $mediaL: 
// $mediaXL: 
// $mediaXXL: 



//LARGES ============================================
//OTHER ============================================

$transition: .5s;











//OTHER ============================================
